{% set name = form.get('name') %}
{% set subject = form.get('subject') %}
{% set template = form.get('template') %}

<div class="box-body">
    <div class="col-md-6">
        {% set message = formElementErrors(name, {class: 'help-block'}) %}
        <div class="form-group {{ message ? 'has-error' }}">
            {{ formLabel(name) }}
            {{ formElement(name) }}
            {{ message | raw }}
        </div>
    </div>

    <div class="col-md-6">
        {% set message = formElementErrors(subject, {class: 'help-block'}) %}
        <div class="form-group {{ message ? 'has-error' }}">
            {{ formLabel(subject) }}
            {{ formElement(subject) }}
            {{ message | raw }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            {{ formRow(form.get('tags')) }}
        </div>
    </div>

    <div class="col-md-12">
        {% set message = formElementErrors(template, {class: 'help-block'}) %}
        <div class="form-group {{ message ? 'has-error' }}">
            {{ formLabel(template) }}
            {{ formElement(template) }}
            {{ message | raw }}
        </div>
    </div>


</div>

<div class="box-footer">
    <div class="col-xs-12 text-left">
        {{ formButton(form.get('submit')) }}
    </div>
</div>
